body {
    background-image: url('../portadas/CALCULADORA-DE-DESCUENTOS_MDA-Primaria.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center center; /* Centra la imagen en el fondo */
    background-attachment: fixed;
}
/* Clase para ocultar el navbar */
.navbar.hidden {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.label-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.label-input-container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
}

.label-input-container label {
    text-align: left;
    flex: 1;
}

.label-input-container input,
.label-input-container select {
    flex: 1;
    margin-left: 10px;
    max-width: 20%;
}
p, span{
font-family: Arial, sans-serif;
font-size: 14px;
font-weight: bold; /* Texto en negrita */
color: #800020; /* Rojo vino */
margin-bottom: 10px;
text-align: left; /* Alineado a la izquierda */
margin-left: 10%;

}

/* Estilo para el texto dentro del <span> */
p span, span {
float: right; /* Alineado a la derecha */
font-size: 20px;
margin-right:11%;
}
.regresar-boton {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 90%;
}
.regresar-boton:hover {
    background-color: #218838;
}